h1,h4,p,ul{
    color: white;
}
h1{
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: darkslategray;
}
a{
    color: lightblue;
}
a:hover{
    color: yellow;
}
a:visited{
    color: magenta;
}
img{
    max-width: 125px;
    max-height: 200px
}
#cardgrid{
    width: 600px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#card1{
    position: absolute;
}

#card2{
    position: absolute;
    left: 200px;
}

#card3{
    position: absolute;
    left: 400px;
}

#endText{
    text-size-adjust: 200%;
}