#textline{
    background-color: darkgray;
    color: navy;
}
body
{
    background-color: lightblue;
    color: rgb(0, 65, 0);
}
#checkmark, #x-mark{
    max-width: 3%;
    height: auto; 
}
h1{
    text-align: center;
}
#favbox,#enterBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    color: rgb(0, 65, 0);
    width: 100px;
    text-align: center;
    height: 2em;
}

input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: darkgrey;
}

.answer{
    border-color: navy;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
}

#searchbar{
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen;
    border-color: navy;
    border-style:dashed;
    border-width: 3px;
    padding: 10px;
}

#search{
    height: 1em;
    width: 250px;
}

select{
    height: 2em;
}

#choices p{
    display:none;
}
button{
    background-color: darkgrey;
}

